#card {
    width: 200px;
    height: 400px;

}

img {

    width: 200px;
    height: 400px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.imagesCard {
    width: 200px;
    height: 200px;
}

#harrySection {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}