body {
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: grid;
    grid-column: auto;
}

.footerHarryPother {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.footerContent {
    text-align: center;
    color: #ffffff;
}

.footerContent p {
    margin: 20px;
    color: #ffffff;
}

.footerContent a {
    color: #4a9eff;
    text-decoration: none;
}